.header-container {
    background: #262626;

    a {
        color: #999;
        transition: ease-in-out color .15s;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.main-container {
    .box {
        width: 80%; 
        height: 300px; 
        border-radius: 21px 21px 0 0;
    }
}

.footer-container {
    a {
        color: #999 !important;
        transition: ease-in-out color .15s;

    }
}