.header-container {
  background: #262626;
}
.header-container a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.header-container a:hover {
  color: #fff;
  text-decoration: none;
}

.main-container .box {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0;
}

.footer-container a {
  color: #999 !important;
  transition: ease-in-out color 0.15s;
}

/*# sourceMappingURL=main.css.map */
